@import url("bootstrap.css");
@import url("https://fonts.googleapis.com/css?family=Dosis:500&display=swap");


                                        /*      Structure principale         */

html,body {
    height: 100%;
    font-family: 'Dosis', sans-serif;
    background-color: #004445;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7.5rem;
    border-bottom: 3px solid #0B2123;
}

.btn-dark,table{
    background-color: #212529 !important;

}


.header-logo{
    height: 7rem;
    width: 11rem;
    background-image: url("/images/logo v3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 0.5rem;
}


.header-btn{
    margin-right: 1rem;
}

.username{
    margin: 0.8rem;
    color: white;
    font-size: medium;
}

span{
    font-size: larger;
    text-decoration: underline;
    padding: 0.7rem;
}

.corpus{
    height: 82%;
    width: 100%;
}

.container-page-nom{
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    color: white;

}

.page-nom{
    align-self: center;
    align-content: center;
    height: 40%;
    width: 50%;
    border-radius: 10px;
    background-color: #212529;
    border: 2px solid #002222;
    text-align: center;



}





                            /*                  Page de connexion                 */


.page-connexion {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


.form-signin {
    width: 100%;
    max-width: 400px;
    margin: auto;
    font-size: 16px;
    box-sizing: border-box;
}


.form-signin-img{
background-image: url("../images/logo v3.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 10.5rem;
    width: 15rem;
    margin-left: 5.5rem;
}

.form-signin-btn{
    background-color: #002222;
    color: rgba(255, 255, 255, 0.6);
    font-size: larger;
}



                            /*                  Page des  liste des demandes                */


.container-liste{
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.liste{
    display: flex;
    height: 10rem;
    width: 60rem;

}




.btn-xl {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 2.5rem;
}



.btn-v{
       background-image: url("../images/check.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}


.btn-x{
        background-image: url("../images/x.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

                                /*                  Page Stock              */


.btn-plus{

    background-image: url("../images/plus.svg");
    background-repeat: no-repeat;
    background-size: 100%;

}

.btn-moins{
   background-image: url("../images/minus.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}





                                /*                  Page d'ajout de membres                */



.container-form-add{
    display: flex;
    justify-content: center;
    height: 85%;
    width: 100%;
    color: white;
}

.form-add{
    display: inline-grid;
    align-self: center;
    align-content: center;
    height: 95%;
    width: 43%;
    border-radius: 10px;
    background-color: #212529;
    border: 3px solid #002222;

}

.form-add-input{
    width: 100%;
    padding: 3rem;
}

                                /*                  Page de accueil des profs               */





.container-master{
    display: inline-grid;
    width: 100%;
    height: auto;
    padding: 2rem;

}

.obj-msg{
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 10px;
    background-color: #212529;
    border: 3px solid #002222;
    color: white;

}

.container-obj-msg{
    display: flex;
    justify-content: center;
    margin: 3rem;
}


.container-obj-option{
    display: flex;
    justify-self: center;
    justify-content: space-between;
    width: 50%;
    padding: 2rem;

}


